body {
	background-color: lightblue;
}

.content {
	text-align: center;
	width: 40%;
	padding-top: 10%;
	text-decoration: line-through;
}

ul {
	text-align: left;
}

.functions-content {	
	border: 4px solid indianred;
	text-align: center;
	width: 40%;
	margin-top: 25%;

	
}

