.content {
	text-align: center;
	width: 40%;
	padding-top: 10%;
	text-decoration: line-through;
}

ul {
	text-align: left;
}

.conditional-content {
	text-align: center;
	width: 40%;
	padding-top: 25%;
	
}

